<h2> Player List</h2>
<table class = "table table-striped">
  <thead>
  <tr>
    <th> Name</th>
    <th> Nationality </th>
    <th> Age </th>
    <th> Position </th>
    <th> Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let player of players" >
    <td> {{ player.name }} </td>
    <td> {{ player.nationality }} </td>
    <td> {{ player.age }} </td>
    <td> {{ player.position }} </td>
    <td>
      <button (click) = "updatePlayer(player.id)" class = "btn btn-info"> Update</button>
      <button (click) = "deletePlayer(player.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
      <button (click) = "playerDetails(player.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
    </td>
  </tr>
  </tbody>
</table>
