<h3> View Player Details</h3>
<div>
  <div>
    <label> <b> Name: </b></label> {{player.name}}
  </div>
  <div>
    <label> <b> Nationality: </b></label> {{player.nationality}}
  </div>
  <div>
    <label> <b> Age: </b></label> {{player.age}}
  </div>
  <div>
    <label> <b> Position: </b></label> {{player.position}}
  </div>
  <div>
    <label> <b> Speed: </b></label> {{player.stats.speed}}
  </div>
  <div>
    <label> <b> Dribble: </b></label> {{player.stats.dribble}}
  </div>
  <div>
    <label> <b> Attack: </b></label> {{player.stats.attack}}
  </div>
  <div>
    <label> <b> Defence: </b></label> {{player.stats.defence}}
  </div>
  <div>
    <label> <b> Pass: </b></label> {{player.stats.pass}}
  </div>
  <div>
    <label> <b> Stamina: </b></label> {{player.stats.stamina}}
  </div>

</div>
